html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin: 0.5em 0;
}

ul {
  margin: 0.4em 0;
  text-align: left;
}

li {
  margin: 0.6em 0;
}

b {
  font-weight: 500;
}

small {
  display: inline-block;
  vertical-align: middle;
  color: #777;
  font-size: 13px;
}

.sm {
  font-size: 13px;
}

section:nth-child(odd) {
  background-color: aliceblue;
}

section:nth-child(even) {
  background-color: antiquewhite;
}

.present {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  font-size: 20px;
}

.present section {
  scroll-snap-align: start;
  height: calc(100vh - 64px);
  padding: 32px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.h-full {
  height: 100%;
}

blockquote {
  text-align: left;
  font-size: 16px;
  max-width: 640px;
  margin: 16px;
}

cite {
  display: block;
  margin: 24px 0;
}

@media screen and (min-width: 768px) {
  .present {
    font-size: 40px;
  }

  small {
    font-size: 20px;
  }

  .sm {
    font-size: 20px;
  }

  blockquote {
    font-size: 24px;
  }
}
